.DS_Store

api/*
backup/*
aes256/*
application/cache/*
application/core/*
application/errors/*
application/helpers/*
application/hooks/*
application/language/*
application/logs/*
application/libraries/*
application/third_party/*
cert/*
ckeditor/*
docs/*
system/*
images/*
user_guide/*