.DS_Store

api/*
backup/*
cert/*
application/core
application/cache
application/errors
application/hooks
application/logs
application/libraries
application/helpers
application/language
application/third_party
ckeditor/*
docs/*
system/*
images/*
user_guide/*